node_modules
.env
.env.local
dist
dist-ssr
*.local
*.log
.DS_Store
.system_generated
MONGODB_URL=mongodb+srv://ankurpatel926091_db_user:h86wInkmF2KsfBtz@cluster0.8vbtcdk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
